# Ignorar arquivos do sistema
.DS_Store
*.log
*.tmp
*.bak
*.swp
*.swo
Thumbs.db
Desktop.ini

# Ignorar pastas do Windows e do sistema
AppData/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
NTUSER.DAT*
ntuser.dat.LOG*
ntuser.ini
.vscode/

# Ignorar arquivos do Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
.venv/
